<h1>Kommissionen</h1>

<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Suche">
<% @commissions.each do |commission| %>
  <li><%= commission.orno %></td></li>
<% end %>
</ul>

<!--
<div data-role="controlgroup">
<a href="index.html" data-role="button">Link button</a>
<a href="index.html" data-role="button">Link button</a>
<a href="index.html" data-role="button">Link button</a>
<a href="index.html" data-role="button">Link button</a>
</div>
-->

