<h6>Editing completion</h6>

<%= render 'form' %>

<%#= link_to 'Show', @completion %> |
<%#= link_to 'Back', completions_path %>

<%= link_to 'Zurück', completions_path, :class => "ym-button ym-star" %>
