/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require yaml/core/base
 *= require yaml/navigation/hlist
 *= require yaml/navigation/vlist
 *= require yaml/screen/typography
 *= require yaml/forms/gray-theme
*/

html, body {height: 100%;}


.ym-col1{
    width 0%;
}
.ym-col2{
    widht 0%;
}

.ym-col3 {
    margin: 0 0%;
}
.wrap{
    min-height: 100%; /*important for footer fixation*/
}

#main {
    padding-bottom: 100px; /* height of footer */
}

header{
      background-color: #043A67;
}

footer{
    background: none repeat scroll 0 0 #043A67;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	z-index:100000;
}

#message_box{
    position:fixed;
    width: 40em;
    top: 0%;
    left: 50%;
    margin-left: -20em;
    text-align: center;
}


.ym-hlist ul li{
    font-size: 1.5em;
}




/*BUTTONS*/

a.ym-button{

    padding-top: 0.8em;
    padding-bottom: 0.8em;

}

a.ym-button:before{
    background: none;
    margin-right: 0em;
    box-shadow: none;
}

