/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require scaffolds
 *= require_self

*/

body {
	background-color: #043A67;
}

.box {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 2em;
	padding: 2em;
	position: fixed;
	left: 50%;
}

.warning {
	background-color: #f7fe2e;
}

.error {
	background-color: #ff0000;
}

.success {
	background-color: #298a08;
}

.user_status {
	float: right;
	text-decoration: none;
	margin: 1em;

}

.user_status a {
	color: #fff;
	text-decoration: none;
}

.user_status img {
		margin-right: 1em;
	float:left;
	vertical-align: middle
	border: 0;
	
}



.login_form {
	color: fff;
}

.login_form 	 input[type="submit"]{
	padding: 0.5em;
}	


.vlist {
	border-bottom: 1px solid #fff;
	padding: 0.5em;
	margin-bottom: 2em;
}

.vlist > a, .vlist > a:active, .vlist > a:hover, .vlist > a:visited {
	text-decoration:none;
	color: #fff;
	padding-right: 0.5em;
}

.vlist > a:hover {
	background-color: #fff;
	color: #043A67;
}

