
html, body {height: 100%;}


.ym-col1{
    width: 0%;
}

.ym-col2{
    width: 0%;
}
.ym-col3 {
    margin-right: 0;
    margin-left: 0;
}
/*
.wrap{
    min-height: 100%;
}
*/

#main {
    padding-bottom: 100px; /* height of footer */
}

header{
      background-color: #043A67;
}




a:hover.profile, a:hover#logo{
    background-color: #043A67;
}

footer{
    background: none repeat scroll 0 0 #043A67;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	z-index:100000;
}


.ym-form{
    background-color: transparent; /*Meiserfarbe #043A67;*/
    border: 1px solid #043A67;
}

.ym-form div.ym-fbox-button{
    background-color: #043A67;
    border: 1px solid #043A67;
}

#message_box{
    z-index:10000;
    /*position:fixed;
    width: 40em;
    top: 0%;
    left: 50%;
    margin-left: -20em;
    text-align: center;*/
}


.ym-hlist ul li{
    font-size: 1.5em;
}


#message_container{
    float:left;
    position: fixed;
    left: 50%;
    clear:both;
}


#message_box{
    float: left;
    clear:left;
    position: relative;
    left: -50%;
    min-width: 20em;
    text-align:center;
}


/*BUTTONS*/
/*
a.ym-button{

    padding-top: 0.8em;
    padding-bottom: 0.8em;

}

a.ym-button:before{
    background: none;
    margin-right: 0em;
    box-shadow: none;
}
*/
.status{
    width: 100px;
    height: 100px;
    background-color:red;
}

.highlight{
    background-color:green;
}


/*FORMATING UNORDERD LISTS*/

.ym-vlist a {
    border: none;
    width: 100%;
}

.ym-vlist a.ym-button {
    width: 100%;
    margin: 1px 0;
    padding-left: 1em;
}

.ym-vlist li span {
    border:none;
}

.ym-vlist li {
    width: 100%;
}

.ym-vlist ul {
    border:none;
    width: 100%;
}





/*KAMINARI*/

.pagination{
    margin-top:1em;
    text-align:center;
}

.pagination span{
    padding: 0em;
}

.pagination span a{
    padding: 0.5em;
}

.pagination span a:hover{
    background-color: #043A67;
}

