<header>
  <div class="ym-wrapper">
    <div class="ym-wbox">
			<h1>Verzinkerei Plauen</h1>
	  </div>
	</div>
</header>


<% unless @dialog == true %>
  <% if current_user  %>
    <%= link_to "Logout #{current_user.login}",sessions_path, :method => :delete, :class => "ui-btn-right", :data => { :icon => "delete"} %>
  <% elsif (controller_name != "sessions") %>
    <%= link_to "Login", new_sessions_path, :class => "ui-btn-right", :data => {:rel => "dialog", :icon => "arrow-r"} %>
  <% end %>
<% end %>

