<div data-role="navbar">
	<ul>
		<li><%= link_to "Options", "#", :class => "ui-btn-right", :data => {:icon => "gear"} %></li>
		<li><%= link_to "Login", "#", :class => "ui-btn-right", :data => {:icon => "gear"} %></li>
	</ul>
</div>

