    <div class="ym-grid">
      <div class="ym-g50 ym-gl">
        <div class="ym-gbox">
          <!-- content -->
          Inhalt Links
        </div>
      </div>
      <div class="ym-g50 ym-gr">
        <div class="ym-gbox">
          <!-- content -->
          Inhalt rechts
        </div>
      </div>
    </div>

<% content_for :nav do %>
<!--<div data-role="navbar">
	<ul>
		<li><a href="a.html" class="ui-btn-active">One</a></li>
		<li><a href="b.html">Two</a></li>
	</ul>
</div>-->
<% end %>

<% content_for :footer do %>
<div data-role="navbar">
	<ul>
    <li>
    <%= link_to "Dashboard", dashboard_path, :class => "ui-btn-active", :data => {:role => "button", :icon => "home", :iconpos => "top"} %>
    </li>
    <li>
    <%= link_to "1. Auftragserfassung", commissions_path, :data => {:role => "button", :icon => "grid", :iconpos => "top"} %>
    </li>
    <li>
<%= link_to "Optionen", "#", :data => {:role => "button", :icon => "gear", :iconpos => "top"} %>
	  </li>
	</ul>
</div>
<% end %>

