<h1>Meiser Verzinkerei</h1>

<ul>
	<li><%#= link_to(t("dashboard"), dashboard_path, :class => "ym-button") %></li>
	<li><%= link_to t("delivery"), sencha_path, :class => "ym-button" %></li>
	<li><%#= link_to(t("completion"), completions_path, :class => "ym-button") %></li>
	<li><%#= link_to(t("traverse"), bookings_path, :class => "ym-button") %></li>
</ul>