<h1>Herzlich Willkommen</h1>


<% content_for :footer do %>
	<div data-role="navbar">
      <ul>
        <li>
        <%= link_to "Home", root_path, :class => "ui-btn-active", :data => { :icon => "home", :iconpos => "top"} %>
        </li>
      </ul>
  </div>
<% end %>

