<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator" content="zincify" />
    <title>Verzinkerei Plauen</title>
	<%= csrf_meta_tags %>
    <meta charset="utf-8" />
	<%= csrf_meta_tag %>
    <%= load_netzke %>
  </head>
  <body>
	<%= yield %>
  </body>
</html>
