<!DOCTYPE html>
  <head>
    <meta name="generator" content="zincify" />
    <title>Verzinkerei Plauen Tagesliste</title>
	<%= csrf_meta_tags %>
    <meta charset="utf-8" />
	<%#= stylesheet_link_tag "application", :media => "all" %>
  
  <style>
    /*table * {font-size: 10px;}*/
	td {text-align: right;}
	th {text-align: right;}
	tr.sum {font-weight: bold;}
  </style>
  </head>
  <body>
 	 <%= yield %>
  </body>
</html>